
body{
    background: url("marble.jpg") repeat 0 0;
    font-family: "Century Gothic","CenturyGothic","AppleGothic","sans-serif"; 
}
.jumbotron{
    background-image: url("header.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.preview{
    width:100%;
    height: Auto;
}
.picture{
    padding:5px;
}
.row{
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    padding:5px;
}